body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #292f33;
  background-color: #f5f8fa;
  font-size: 15px;
}

p {
  margin: 8px 0 0 0;
  padding: 0;
  line-height: 20px;
}

.highlight {
  color: #66aeda;
}

.highlight:hover {
  color: #1b95e0;
  cursor: pointer;
}
